@model IEnumerable<AnybodysModels.Item>

@{
    ViewData["Title"] = "Top10Index";
}

<h1>Top10Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Actions
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageData)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ImagePath) *@
                    @if (!string.IsNullOrWhiteSpace(item.ImagePath))
                    {
                        <img src="@item.ImagePath" alt=@item.Name style="width:150px" />
                    }
                    else
                    {
                        <img src="https://talkimages.blob.core.windows.net/mssaccad13/noImage.png" alt=@item.Name style="width:80px; height:85px" />
                    }
                </td>
                <td>
                    @{
                        var itemCategory = item?.Category?.Name ?? "No Category";
                    }
                    @* @Html.DisplayFor(modelItem => item.Category.Name) *@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

